.App {
  text-align: center;
}

.App-title {
  text-align: center;
}

.text-input {
  width: 100%;
  border: 1px solid #f7f7f7;
  padding: 10px;
}

.text-input:hover {
  box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.news-items {
  list-style: none;
  padding-left: 0;
}

.news-items li {
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

.App-link {
  display: inline-block;
  margin: 3px;
}

p {
  text-align: center;
}

table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
  margin: auto auto 0;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}